<!-- Banner Destaque -->
<section class="hero" style="background-image: url(assets/img/destaque.jpg)" data-aos="fade">
  <div class="video-background">
      <div class="video-foreground">
        <video width="320" height="240">
          <source src="assets/video/bg.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
          <div class="hero-content text-center">
            <h1 class="title-4 hero-content__heading text-white" data-aos="fade" data-aos-delay="400"><img src="assets/img/logo.svg" /></h1>
            <p class="hero-content__subheading text-white" data-aos="fade" data-aos-delay="600">{{site.description}}</p>
            <a href="#" class="button button-primary" data-aos="fade" data-aos-delay="800">Conhecer</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="#second-screen" class="hero__scroll-down">
    <i class="fas fa-arrow-down"></i>
  </a>
</section>
