<!-- Footer -->
<footer class="white-space-160 main-footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="footer-contact">
          <div>
            <a href="http://facebook.com/{{site.contacts.facebook}}" class="footer-contact__social">
              <i class="fab fa-facebook-f"></i> {{site.contacts.facebook}}
            </a>
            <a href="http://youtube.com/{{site.contacts.youtube}}" class="footer-contact__social">
              <i class="fab fa-youtube"></i> {{site.contacts.youtube}}
            </a>
            <a href="http://instagram.com/{{site.contacts.instagram}}" class="footer-contact__social">
              <i class="fab fa-instagram"></i> {{site.contacts.instagram}}
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="footer-copyright">
          <p class="footer-copyright__info">© {{  site.time | date: '%Y' }} {{site.name}} - {{site.description}}</p>
        </div>
      </div>
    </div>
  </div>
</footer>
