---
layout: compress
---

<!DOCTYPE html>
<html lang="pt-br" itemscope itemtype="http://schema.org/Webpage">
  {% include head.html %}
  <body class="principal">
    <!--[if IE]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {% include header.html %}
    {% include featured.html %}
    <!-- Main Content -->
     <main>
       <!-- Home -->
       <section id="second-screen" class="white-space-160">
         <div class="container">
           <div class="row home1-about text-center">
             <div class="col-12 col-md-8 offset-md-2 home1-about__info">
                {{ content }}
             </div>
           </div>
         </div>
       </section>
    {% include footer.html %}

    <!-- JS -->
    <script src="assets/js/main.js"></script>
  </body>
</html>
