---
layout: compress
---

<!DOCTYPE html>
<html lang="pt-br" itemscope itemtype="http://schema.org/Webpage">
  {% include head.html %}
  <body class="principal">
    <!--[if IE]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {% include header.html %}
    {% include featured.html %}
    <!-- Main Content -->
     <main>

       <!-- Scroll Top -->
       <div class="scroll-top">
         <a href="#">
           <i class="fas fa-angle-up"></i>
         </a>
       </div>

       <!-- Pagina de Sobre -->
        {% assign block = site.pages | where: 'name', 'sobre.md' | first %}
        <section id="{{ block.name | remove: '.md' }}" class="white-space-40">
          <div class="container">
            <div class="row home1-about text-center">
               <div class="col-12 col-md-8 offset-md-2 home1-about__info">
                 <div>
                   <p class="home1-about__desc big-text text-dark">
                     {{ block.content | markdownify }}
                   </p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Pagina de Produtos -->
        {% assign block = site.pages | where: 'name', 'produtos.md' | first %}
        <section id="{{ block.name | remove: '.md' }}" class="white-space-160 bg-lightgray">
          <div class="container">
            <div class="row home1-about text-center">
              <div class="col-12 col-md-8 offset-md-2 home1-about__info">
               <h1 class="section__heading">{{ block.title }}</h1>
                <div>
                  <p class="home1-about__desc big-text text-dark">
                    {{ block.content | markdownify }}
                  </p>
               </div>
             </div>
            </div>
          </div>
        </section>

        <!-- Pagina de Vantagens e Benefícios -->
        {% assign block = site.pages | where: 'name', 'vantagens-e-beneficios.md' | first %}
        <section id="{{ block.name | remove: '.md' }}" class="white-space-160">
          <div class="container">
            <div class="row home1-about text-center">
              <div class="col-12 col-md-8 offset-md-2 home1-about__info">
               <h1 class="section__heading">{{ block.title }}</h1>
                <div>
                  <p class="home1-about__desc big-text text-dark">
                    {{ block.content | markdownify }}
                  </p>
               </div>
             </div>
           </div>
          </div>
        </section>

        <!-- Pagina de ROI -->
        {% assign block = site.pages | where: 'name', 'roi.md' | first %}
        <section id="{{ block.name | remove: '.md' }}" class="white-space-160 bg-lightgray">
          <div class="container">
            <div class="row home1-about text-center">
               <div class="col-12 col-md-8 offset-md-2 home1-about__info">
                <h1 class="section__heading">{{ block.title }}</h1>
                <div>
                   <p class="home1-about__desc big-text text-dark">
                     {{ block.content | markdownify}}
                   </p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Pagina de Contato -->
        <section id="contato" class="white-space-160">
          <div class="container">
            <div class="row text-center">
              <div class="col-12 col-md-8 offset-md-2">
                <h1 class="section__heading">Contato</h1>
                <form action="https://docs.google.com/forms/d/e/1FAIpQLScbLZZN3dWhDDTD9kVCsIcWq2Di_sa1c3Od-i-Iw-umGu3igw/formResponse" method="post">
                <div class="contact-form">
                  <div class="contact-form__input">
                    <input type="text" name="emailAddress" placeholder="Endereço de Email *" required="required" />
                  </div>
                  <div class="contact-form__input">
                    <input type="text" name="entry.1935112643" placeholder="Nome Completo *" required="required" />
                  </div>
                  <div class="contact-form__input">
                    <input type="text" name="entry.513347068" placeholder="Telefone *" required="required" />
                  </div>
                  <p class="text-center text-primary"><strong>Selecione abaixo o seu Perfil *</strong></p>
                  <div class="contact-form__input row">
                    <div class="col-12 col-md-2 offset-md-2">
                    <label class="radio-inline"><input type="radio" name="entry.871797589" value="Heveicultor">Heveicultor</label>
                    </div>
                    <div class="col-12 col-md-2">
                    <label class="radio-inline"><input type="radio" name="entry.871797589" value="Pesquisador">Pesquisador</label>
                  </div>
                  <div class="col-12 col-md-2">
                    <label class="radio-inline"><input type="radio" name="entry.871797589" value="Investidor">Investidor </label>
                  </div>
                  <div class="col-12 col-md-2">
                    <label class="radio-inline"><input type="radio" name="entry.871797589" value="Outro">Outro      </label>
                  </div>
                  </div>
                  <div class="contact-form__input">
                    <textarea name="entry.2066332733" placeholder="Mensagem *" required="required"></textarea>
                  </div>
                  <button class="button button-primary" type="submit">Enviar Mensagem</button>
                </div>
              </form>
              </div>
            </div>
          </div>
        </section>

    </main>
    {% include footer.html %}

    <!-- JS -->
    <script src="assets/js/main.js"></script>
  </body>
</html>
